registry.npmjs.org/:_authToken=c93c0ae1-23ab-4889-b6e7-526e188b87b5
npm.yandex-team.ru/:_password="dGhpcy5nZXRZYTE3OA=="
npm.yandex-team.ru/:username=khitrind
npm.yandex-team.ru/:email=khitrind@yandex-team.ru
npm.yandex-team.ru/:always-auth=false
@yandex-int:registry=http://npm.yandex-team.ru/
registry=https://npm.yandex-team.ru/
